{% load static %} {# 👈あとで static "URL" を使うので load static します #}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <title>ワラベンチャー</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
        <!--                                                ===================
                                                            1
            1. Example: `http://example.com/static/favicon.ico`
                                            ==================
        -->
        <!-- 3D -->
        <script src="https://unpkg.com/three@0.140.2/build/three.min.js"></script>
        <!-- `gl-matrix-min.js` - mat4 を含む -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gl-matrix/2.8.1/gl-matrix-min.js"></script>

        <script src="{% static 'webglFacade.js' %}"></script>
        <script src="{% static 'webglScript.js' %}"></script>

        <script>
            // ページの読み込みを待つ
            window.addEventListener("DOMContentLoaded", init);

            function init() {
                // パスを確認しましょう
                console.log(`window.location.href:${window.location.href}`);

                /**
                 * パスの手調整
                 */
                function adjustPath(path) {
                    return `../../${path}`;
                }

                //
                // 外部リソースの場所
                //
                // シェーダー・スクリプトのファイルパスの配列
                const pathsOfShaderScript = [adjustPath("static/texture/vertex_shader.glsl"), adjustPath("static/texture/fragment_shader.glsl")];
                // 画像ファイルパス
                const pathOfImageNo1 = adjustPath("static/202101__character__28--kifuwarabe-futsu.png");

                // WebGL に外部リソース設定
                webgl_setup(pathsOfShaderScript, pathOfImageNo1);
            }
        </script>
    </head>
    <body></body>
</html>
